<nav>
  <h1>Hi.</h1>
    <h2>I'm <a href="/">Gunner Barnes</a>.</h2>
  <hr/>
  <ul class="nav-ul">
  <p>I'm a professional software engineer, and an amateur software enthusiast.
	 I spend a lot of time writing code, reading code, and learning about code.
	 I also enjoy design, hockey, running, and brewing beer.
	 Sometimes I take the time to share things I've learned. Sometimes. </p>
  <p>
    Albany, NY</a>.
  </p>
  <hr/>
  <div>
    <div id="social">
      <a href="http://stackoverflow.com/users/548776/gunner-barnes">
		  <img src="http://stackoverflow.com/users/flair/548776.png?theme=clean" width="208" height="58" alt="profile for Gunner Barnes at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Gunner Barnes at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
	  </a>
    </div>
  </div>
  </ul>
</nav>